/*
=======   
Project Titles
=======
*/
div#project1-title {
  background-color: rgb(37, 37, 37);
  color: #f690a6;
}

div#project2-title {
  background-color: rgb(255, 235, 133);
  color: rgb(92, 182, 235);
}

/*
=======   
Project Image Grids
=======
*/

.project1-image-grid1 {
  display: none;
}

  .project1-image-grid2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.project-grid-image {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 700px) { 
  .project1-image-grid1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
}

@media screen and (min-width: 1000px) {
  .project1-image-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  grid-template-areas:
  ". box-1 ."
  "box-2 box-1 box-4"
  "box-6 box-3 box-5";
}
}

@media screen and (min-width: 1400px) {
  .project1-image-grid1 {
  margin: 0 300px;
}
}